html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Wikipedia Viewer
    link(href='https://fonts.googleapis.com/css?family=Exo+2:200,400,800', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body(ng-app='wikiGrabber', ng-controller='mainCtrl')
    form
      #searchbox.main
        h4#app-title Wikipedia Search
        form
          input#textbox(type='text', ng-model='queryString', placeholder='{{hint}}')
          table
            tr
              td
                input#search.btn(type='submit', value='page->', ng-click='external(queryString, $event)')
              td
                input#random.btn(type='button', value='random', ng-click='random()')
    #results(ng-cloak='', ng-repeat='element in data')
      a(ng-src='element.url')
        div(ng-click='source(element, $event)', ng-keyup='source(element, $event)')
          h3 {{ element.title }}
          p {{ element.extract }}
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js')
    script(type='text/javascript', src='js/logic.js')